<form action="/send" method="GET">
<table>
    <tr><td>Ubezpieczenie: </td><td><input type="checkbox" name="ubez" id="a"></td></tr>  
    <tr><td>benzyna: </td><td><input type="checkbox" name="benzyna" id="b"></td></tr>
    <tr><td>uszkodzony: </td><td><input type="checkbox" name="uszkodzony" id="c"></td></tr>
    <tr><td>Napęd 4x4: </td><td><input type="checkbox" name="naped" id="c"></td></tr>
</table>
<button type="submit">Dodaj do bazy</button>
</form>

<form method="get">
<table>
    <tr><td></td><td>Ubezpieczony</td><td>benzyna</td><td>uszkodzony</td><td>napęd 4x4</td><td></td><td></td></tr>
    {{#each arr}}
        {{#if edit}}
            <tr><td>{{@index}}</td>
            <td>
                <select name="ubezpieczony" id="">
                    <option value="TAK" {{#if this.isUbez}}selected{{/if}}>Tak</option>
                    <option value="NIE"{{#unless this.isUbez}}selected{{/unless}}>Nie</option>
                </select>
            </td>
            <td>
                <select name="benzyna" id="">
                    <option value="TAK" {{#if this.isBenz}}selected{{/if}}>Tak</option>
                    <option value="NIE"{{#unless this.isBenz}}selected{{/unless}}>Nie</option>
                </select>
            </td>
            <td>
                <select name="uszkodzony" id="">
                    <option value="TAK" {{#if this.isUsz}}selected{{/if}}>Tak</option>
                    <option value="NIE"{{#unless this.isUsz}}selected{{/unless}}>Nie</option>
                </select>
            </td>
            <td>
                <select name="naped" id="">
                    <option value="TAK" {{#if this.isNap}}selected{{/if}}>Tak</option>
                    <option value="NIE"{{#unless this.isNap}}selected{{/unless}}>Nie</option>
                </select>
            </td>
            <td>
                <button formaction="/change" name="_id" value="{{this._id}}">Zaktualizuj</button>
            </td>
            <td>
                <button formaction="/">Cofnij</button>
            </td>
            </tr>
        {{else}}
            <tr><td>{{@index}}</td><td>{{this.ubezpieczony}}</td><td>{{this.benzyna}}</td><td>{{this.uszkodzony}}</td><td>{{this.naped}}</td><td><button formaction="/usun" name="_id" value="{{this._id}}" onclick="return confirm('czy usunąć?')">Usuń</button></td><td><button formaction="/edytuj" name="_id" value="{{this._id}}" onclick="">Edytuj</button></td></tr>
        {{/if}}
    {{/each}}
</table>
</form>